* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: beige;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.contenido-principal {
    width: 75%;
    padding: 20px;
}

.zona-lateral-derecha {
    width: 25%;
    background-color: #ffabab77;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

header {
    text-align: center;
    background-color: #ffabab;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.fruta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 100px;
}

.fruta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.infoFruta {
    display: flex;
    flex-direction: column;
}

.nombreFruta {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}

.precioFruta {
    font-size: 12px;
    color: #333;
}

.input-kilos {
    width: 70px;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.total {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
}

.zona-lateral-derecha h2,
.total h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.frutaSeleccionada {
    list-style: none;
    padding: 5px;
}

.resaltada {
    background-color: lightblue;
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
