* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 100vh;
}

#contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#zonaSuperior {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex: 0 0 65%;
    overflow: hidden;
}

.contenedorPrincipal {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#zonaLateral {
    width: 25%;
    background-color: #ffabab77;
    padding: 20px;
    overflow-y: auto;
}

header {
    text-align: center;
    background-color: #ffabab;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

.contenedorFrutas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.fruta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.fruta img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
}

.inputKilos {
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.total {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

#zonaInferior {
    flex: 0 0 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    border-top: 2px solid #ddd;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1px;
}

#frutasAnadidas {
    height: 200px;        
    overflow-y: auto;     
    border: 1px solid #ccc;
    padding: 10px;
}

.resaltada {
    background-color: lightblue;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}